# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\minha_api\api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
